<% results.forEach(elem => { %>
    <div>
      
      <h3><%= elem.name%> </h3>
      <img src="<%=elem.photo%>" alt="">
      <a href="<%=elem.more_url%>">More Info</a>
      <form method="POST" action="/comment">
        <lable for="commentData"></lable>
        <input hidden type="text" name="heroId" value="<%= `${elem.id}` %>" >
        <input type="text"  id="commentData" name="commentData" placeholder="leave comment here"/>
        <input type="submit" />
      </form>

      
      
      
    </div>
  <% }) %>

