<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
    <title>Virtual Marvel Encyclopedia</title>
</head>
<body>
    <h1>Marvel Encyclopedia</h1>
    <nav>
        <ul>
            <% if(user){ %>
                <li><a href="/users/profile">Profile</a></li>
                <li><a href="/favorites">Favorites</a></li>
                <li><a href="/users/logout">Log Out</a></li>
                <li><a href="/search">Search Marvel</a></li>
                
            

           <% }else{ %> 
            <li><a href="/users/new">Sign Up</a></li>
            <li><a href="/users/login">Login</a></li>
            <% } %>
        </ul>
    </nav>
    <%-body%>
</body>
</html>