<% if(error){ %>
    <em> <%=error%></em>
<%}%>
<h2>Log on in boi!</h2>
<form action="/users/login" method="POST">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email">
    
    
    <label for="email">Password:</label>
    <input type="password" name="password" id="password">
    
    <button type="submit">Log In</button>
</form>